
<div class="row">
    <div class="row extra-white-top orange-background">

        <div class="col-xs-12">
            <h1 class="text-center smMarginTopBottom orange-background white">Henry's already supplies...</h1>
        </div>

    </div>

</div>


    <div class="row paddingAllRound text-center white-background">

        <div class="container">
            <div class="col-sm-12 col-sm-4">
                <img class="img-responsive img-inline marginAllRound text-center retinaFriends" ng-src="images/customers/behindthewall.jpg" alt="Behind the Wall">
            </div>

            <div class="col-sm-12 col-sm-4">
                <img class="img-responsive img-inline marginAllRound text-center retinaFriends" ng-src="images/customers/tinderbox.jpg" alt="Tinderbox">
            </div>
            <div class="col-sm-12 col-sm-4">
                <img class="img-responsive img-inline marginAllRound text-center retinaFriends" ng-src="images/customers/hardrock.jpg" alt="Hard Rock Cafe ">
            </div>
        </div>
    </div>
    <div class="row paddingAllRound text-center white-background">
        <div class="container">
            <div class="col-sm-12 col-sm-4">
                <img class="img-responsive img-inline marginAllRound text-center retinaFriends" ng-src="images/customers/rosso.jpg" alt="Rosso">
            </div>

            <div class="col-sm-12 col-sm-4">
                <img class="img-responsive img-inline marginAllRound text-center retinaFriends" ng-src="images/customers/cobbs.jpg" alt="Cobbs Bakery">
            </div>
            <div class="col-sm-12 col-sm-4">
                <img class="img-responsive img-inline marginAllRound text-center retinaFriends" ng-src="images/customers/cafelochan.jpg" alt="Cafe Lochan">
            </div>
        </div>
    </div>
    <!-- the content is too small so bottom out with the padding css: pad bottom out -->

    <div class="row paddingAllRound text-center white-background orange-border-bottom pad-bottom-out">

        <div class="container">
            <div class="col-sm-12 col-sm-4">
                <img class="img-responsive img-inline marginAllRound text-center pad-bottom-out retinaFriends" ng-src="images/customers/owlanddeer.jpg" alt="Owl and Deer Logo">
            </div>

            <div class="col-sm-12 col-sm-4">
                <img class="img-responsive img-inline marginAllRound text-center pad-bottom-out retinaFriends" ng-src="images/customers/redbox.jpg" alt="Red Box">

            </div>
            <div class="col-sm-12 col-sm-4">
                <img class="img-responsive img-inline marginAllRound text-center pad-bottom-out retinaFriends" ng-src="images/customers/waterside.jpg" alt="Waterside">
            </div>
        </div>

     </div>

