
    <div class="row">
        <div class="row extra-white-top helpsHeader">

            <div class="col-xs-12">
                <h1 class="text-center smMarginTopBottom white">How Henry’s can help you...</h1>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="row white-border-top-bottom ">
            <img class="col-xs-12 no-padding" ng-src="images/helps/coffee_bar.jpg" alt="Coffee Bar">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 white dark-orange">
            <h1 class="text-center">Henry’s will help you manage your product pricing strategy</h1>
            <h3 class="padding-lft-rt text-justify">
                Henry’s will help you determine your most profitable product pricing strategy. Each month we will provide you with an up to the minute, competitor’s price comparison. You can see, at a glance, what your competitors are charging their customers for their hot drinks. You will get to know (very quickly) when your competitors are increasing or reducing their prices and by how much. You will be in a position to react very quickly to market conditions. Henry’s will provide your product pricing strategy guide on a single page every month.
            </h3>
        </div>
    </div>



    <div class="row">
        <div class="row white-border-top-bottom ">
            <img class="col-xs-12 no-padding" ng-src="images/helps/almond.jpg" alt="Coffee and Amoretti">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 white">
            <h1 class="text-center">Henry’s will help with innovative promotional campaigns to grow sales and profits</h1>
            <h3 class="padding-lft-rt text-justify">Henry’s has a long list of ideas to promote hot drink sales. Every idea will have the promotional mechanics clearly defined. Henry’s will provide simple tools to analyse and record the financial success of each promotional campaign. Each promotion will be fully supported with a range of promotional point of sale materials. Operating sales staff will be fully trained to describe the promotion and encouraged to up sell to customers. To get a full understanding of how helpful our promotions can be ask us about Henry and Hattie.
            </h3>
        </div>
    </div>


    <div class="row">
        <div class="row white-border-top-bottom">
            <img class="col-xs-12 no-padding" ng-src="images/helps/coffee_bean.jpg" alt="Coffee Plant">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 white dark-orange">
            <h1 class="text-center">Henry’s will help cut through the confusion of ethical coffee considerations</h1>
            <h3 class="padding-lft-rt text-justify">Your customers can be forgiven for failing to precisely understand how ethical they are being when they buy  products that are ethically badged and advertised. Henry’s helps by keeping an ethical approach to coffee service in your community, relevant to your customers and entirely transparent. You pay a little extra, (50p per kilo for your coffee) Henry’s doubles your contribution and returns £1.50 at the year end. You (and your customers) decide where the money goes. Henry’s supports your ethical and charitable works with bespoke point of sale so your customers know exactly how ethical you are. </h3>
        </div>
    </div>


    <div class="row">
        <div class="row white-border-top-bottom">
            <img class="col-xs-12 no-padding" ng-src="images/helps/light.jpg" alt="Henry's Guiding Light">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 white">
            <h1 class="text-center">Henry’s helps by finding great ideas and sharing them with our customers</h1>
            <h3 class="padding-lft-rt text-justify">
                Henry’s spots the inventive and the unusual on our travels. We share ideas to help our customers stay on trend and get talked about. We notice great impactful things like ‘Swipii’ to help build customer loyalty. We spot interesting point of sale devices like a table top blackboard promoting the in-store WIFI code and a speciality coffee of the day.  We keep our customers up to date with what’s new in market like coconut milk. To get a real flavour of how we help, ask us about the most unusual toilet brush holder we  ever every came across!
            </h3>
        </div>
    </div>
