<h1 class="moonflower_bold text-center white">Our Story (so far)</h1>
    <div class="container">
        <div class="henryContentContainer">
            <article class="marginAllRound">
                <section>
                    <img class="our_story_image" src="images/henry.jpg">
                    <p>As careers go, being immersed in coffee and steeped in tea might be judged as a wise choice.
                        After more than 30 years of personal immersion and steeping, my company was established in the late summer of 2015.
                        Henry, my Grandson and first Grandchild, was born in the autumn of 2014. Henry fills my heart with joy and for me; he represents a wonderful, bright future. Henry’s parents were kind enough to lend his name to our company. Quite often, particularly on his regular visits to Henry’s Head Office, Henry is our inspiration.  Henry’s Coffee Company (HCC) has great ambitions and high ideals. We rely on family values and thrive on competition and challenge.</p>

                </section>
                <section >
                    <br/>
                    <p class="text-center">The reasons Henry’s Coffee Company exists are…</p>
                    <ul class="our-story-list">
                        <li>To have <em>FUN</em> and we want the fun we have to rub off</li>
                        <li>To be <em>LOVED</em> by our customers (in particular), by the people who work with us, by our suppliers and even by our competitors</li>
                        <li>To be <em>OUTSTANDING</em> to standout in a line up of coffee company suspects, for all the right reasons (broad smiles, running shoes, big ears and a caring heart)
                        </li>
                        <li>To make <em>PROFIT</em> so we can continue to enjoy doing the first three things on our list </li>
                    </ul>
                    <br/>
                    <p>Wanting to <em>F.L.O.P.</em> is not usually considered the most suitable description for a professional company with ambitious growth plans.</p>
                </section>
                <section>
                    <p>In this instance, it is a good way to remember what Henry’s Coffee Company is all about. We know there is nothing more important than happy and healthy relationships and at HCC we are driven in search of these relationships.</p>
                    <br/>
                    <p class="text-center">Please give us a call anytime of the day or night.</p>
                    <p class="pull-right">Brian (Henry’s Papa)
                    </p>
                </section>
            </article>
        </div>
    </div>
