<div class="tab-pane hfade">
    <div class="row extra-white-top dark-orange">

        <img class="col-xs-12 col-md-7 img-responsive no-padding" ng-src="images/products/tea/Jenier01.jpg" alt="Jenier World of Tea">


        <div class="col-xs-12 col-md-5 tea-padded">
            <h1 class="text-center no-bottom-margin tea-margin">Tea for two and two hundred types of tea</h1>
            <h3 class="sm-padding">
                With over 200 blends to choose from 'Jeniers World of Tea' offers our customers a world of choice. Our Scottish tea partner is renowned for the highest quality tea in combination with some of the most eco-friendly tea serving suggestions. Our bespoke teapot branding service has proved extremely popular allowing our customers to standout from the crowd when it’s time for tea.
            </h3>
        </div>
    </div>
</div>