<div class="tab-pane hfade">
     <div class="row extra-white-top dark-orange">

         <img class="col-xs-12 col-md-8 img-responsive no-padding" ng-src="images/products/swipii/Swipii.png" alt="Swippii Logo">


         <div class="col-xs-12 col-md-4 padded">
             <h1 class="text-center no-bottom-margin">Redefining Customer Loyalty</h1>
             <h3 class="sm-padding">
                 At Henry’s coffee company we are privileged to work with the team at Swipii. Swipii is a fun way to build customer loyalty and help grow sales. Using smart devices and social media platforms, Swipii is a marketing department in a box for coffee shop operators.
             </h3>
         </div>
     </div>
 </div>
