<div id="products">
    <nav class="navbar">
        <div class="center-block text-center productNav">
            <ul class="nav navbar-nav vertical-middle">
                <li ui-sref-active="active" ><a class="vertical-sub"  ui-sref="coffee">Coffee</a></li>
                <li ui-sref-active="active"><a  ui-sref="tea" >Tea</a></li>
                <li ui-sref-active="active" ><a  ui-sref="machines">Coffee Machines</a></li>
                <li ui-sref-active="active" ><a  ui-sref="swipii" >Customer Loyalty</a></li>
            </ul>
        </div>
    </nav>

    <section id="henrysCoffee">
        <div class="tab-content">
            <div class="hfade"  ui-view></div>
        </div>
    </section>
</div>





