<div class="tab-pane hfade container">
<section id="cobbsCakes" class="marginAllRound">
    <h2 class="text-center">Traditional, home-baked cakes...</h2>
    <div class="media">
        <div class="media-left media-top">
            <a href="#">
                <img class="media-object" src="images/cobblogo.png" alt="Cobbs Cakes">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Cobbs Bakery</h4>
            <p>Cobbs are a truely Highland company. In 2002 Taking took over a farmhouse bakery in the Loch Ness-side village of Drumnadrochit and they inherited a lovely range of traditional home-baked cakes which were already proving popular with customers throughout the Highlands of Scotland. All Cobbs cakes are still made in the old traditional manner, never using additives or preservatives.</p>
        </div>

    </div>
</section>
</div>
