<div class="tab-pane hfade">

    <div class="row extra-white-top dark-orange">


            <img class="col-xs-12 col-md-8 img-responsive no-padding" ng-src="images/products/coffee/catspyjamasproduct.jpg" alt="Cat's Pjyamas Espresso">


            <div class="col-xs-12 col-md-4 padded">

                <h1 class="text-center cheap-pine no-bottom-margin">Cat’s Pjyamas Espresso</h1>
                <h3 class="sm-padding text-justify">
                    Henry’s Cat’s Pyjamas (CP) Espresso is by far and away our most popular blend. It has been slowly roasted to produce a deep complex taste with a hint of chocolate and slightly sweet undertone.
                </h3>
                <h3 class="sm-padding text-justify">
                    Our CP blend is ideally suited to prepare milk based drinks such as cappuccino and latte as the flavour really cuts through the milk.
                </h3>

            </div>




    </div>

    <div class="row white-border-top-bottom">

        <img class="col-xs-12 img-responsive no-padding visible-xs visible-sm" ng-src="images/products/coffee/blowyoursocksoffproduct.jpg" alt="Blow Your Socks Off Espresso">


        <div class="col-xs-12 col-md-4 padded">
            <h1 class="text-center cheap-pine no-bottom-margin">Blow Your Socks Off Espresso</h1>
            <h3 class="text-justify">
                Our Blow Your Socks Off (BYSO) espresso coffee blend has been specially blended and slow roasted to do just that. It is our premium choice and the first blend we created. It’s powerful taste and smooth, lingering espresso edge makes BYSO a coffee for coffee connoisseurs.
            </h3>
        </div>


        <img class="col-sm-8 img-responsive no-padding hidden-xs hidden-sm" ng-src="images/products/coffee/blowyoursocksoffproduct.jpg" alt="Blow Your Socks Off Espresso">


    </div>

    <div class="row extra-white-top-bottom lavazza-bg">

        <div class="col-xs-12">
            <img class="center-block img-responsive smMarginTopBottom retinaOtherBrands" ng-src="images/products/coffee/LavazzaLogo.png" alt="La Cimbali">
        </div>

    </div>

    <div class="row white-border-top-bottom lavazza-bg">

        <img class="col-xs-12 col-md-8 img-responsive no-padding" ng-src="images/products/coffee/lavazzaproduct.jpg" alt="Lavazza Coffee">


        <div class="col-xs-12 col-md-4 padded">
            <h1 class="text-center no-bottom-margin">"Italy’s Favourite Coffee"</h1>
            <h3 class="sm-padding">
                One of the world’s most iconic coffee brands, we are proud to work with Lavazza Coffee UK as their authorised distributor in Scotland. We offer an extensive range of Lavazza espresso coffee blends together with a comprehensive list of Lavazza branded support materials.
            </h3>
        </div>

    </div>

</div>



