<div class="tab-pane hfade">

    <div class="row extra-white-top-bottom cimbali-bg">

        <div class="col-xs-12">
            <img class="center-block img-responsive smMarginTopBottom retinaOtherBrands" ng-src="images/products/machines/La Cimbali Logo/LaCimbaliLogoWhite.png" alt="La Cimbali">
        </div>

    </div>


    <div class="row">

        <img class="col-xs-12 col-md-8 img-responsive no-padding  visible-xs visible-sm" ng-src="images/products/machines/La Cimbali04.jpg" alt="La Cimbali">


        <div class="col-xs-12 col-md-4 padded">
            <h1 class="text-center no-bottom-margin">Tools of the trade</h1>
            <h3 class="sm-padding ">
                La Cimbali coffee machines are the preferred option for a great many of the UK’s top food service operators. Not only are their extensive range of coffee machines regarded as best in class, they are supported with a large network of expert La Cimbali engineers to ensure speedy installation and service.
            </h3>
        </div>

        <img class="col-xs-12 col-md-8 img-responsive no-padding hidden-xs hidden-sm" ng-src="images/products/machines/La Cimbali04.jpg" alt="La Cimbali">

    </div>


    <div class="row white-border-top-bottom dark-orange">

        <img class="col-xs-12 col-md-8 img-responsive no-padding" ng-src="images/products/machines/La Cimbali02.jpg" alt="La Cimbali">


        <div class="col-xs-12 col-md-4 padded">
            <h1 class="text-center no-bottom-margin">Henry’s & La Cimbali are friends</h1>
            <h3 class="sm-padding ">
                As an authorised distributor for La Cimbali in Scotland we offer their machine range for outright purchase or on flexible service rental terms.
            </h3>
        </div>

    </div>
</div>


